<!DOCTYPE html>
<html lang="en">
<body>
    <div class="sqs-announcement-bar-dropzone"></div>
    <div id="sidecarNav">
      

  <div id="mobileNavWrapper" class="nav-wrapper" data-content-field="navigation-mobileNav">
    <nav id="mobileNavigation">
      

      
        
          <div class="index active homepage">
            <a href="/home">
              Home
            </a>
          </div>
 
          <div class="index">
            <a href="/about-us">
              About Us
            </a>
          </div>
  
          <div class="index">
            <a href="/community">
              Community
            </a>
          </div>

          <div class="external">
            <a href="https://medium.com/@aditiagrawal_49691">
              Blog
            </a>
          </div>
          
 <div class="collection">
              <a href="/contact">
                Contact
              </a>
            </div>
            <div class="collection">
              <a href="/be-a-trailblazer">
                Be A Trailblazer
              </a>
            </div> 
            </div>    
    </nav>
  </div>
    </div>
    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone" style="top: 103px;"></div>
      <header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
        <div class="header-inner">
          <div id="logoWrapper" class="wrapper" data-content-field="site-title">
            
              <h1 id="logoImage"><a href="/home"><img src="/saved_resource" alt="School of Future"></a></h1>
            
          </div><!--
          --><div class="mobile-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><div class="mobile-nav-toggle fixed-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><!--
          --><div id="headerNav">

  <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
    <nav id="mainNavigation" data-content-field="navigation-mainNav">
  
          <div class="index active homepage">
            <a href="/home">
              Home
            </a>
          </div>
 
          <div class="index">
            <a href="/about-us">
              About Us
            </a>
          </div>
  
          <div class="index">
            <a href="/community">
              Community
            </a>
          </div>

          <div class="external">
            <a href="https://medium.com/@aditiagrawal_49691">
              Blog
            </a>
          </div>
          
 <div class="collection">
              <a href="/contact">
                Contact
              </a>
            </div>
            <div class="collection">
              <a href="/be-a-trailblazer">
                Be A Trailblazer
              </a>
            </div> 
    </nav>
  </div>
  <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
  <style>.mobile-nav-toggle-label { display: inline-block !important; }</style>


</div>
        </div>
      </header>
      <div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper"><div class="row"><div class="col"></div></div></div>
    </body>
    </html>