<!DOCTYPE html>
<html lang="en">
<body id="collection-5ba37022f950b70cd061a403" class="transparent-header enable-nav-button nav-button-style-outline nav-button-corner-style-pill banner-button-style-outline banner-button-corner-style-square banner-slideshow-controls-arrows meta-priority-category center-entry-title--meta  hide-list-entry-footer    hide-blog-sidebar center-navigation--info     event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts  event-item-back-link    gallery-design-grid aspect-ratio-auto lightbox-style-light gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop   product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square  show-product-price show-product-item-nav product-social-sharing newsletter-style-dark  opentable-style-light small-button-style-solid small-button-shape-pill medium-button-style-outline medium-button-shape-square large-button-style-outline large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-center button-style-solid button-corner-style-square tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-5ba37022f950b70cd061a403 collection-type-index collection-layout-default homepage view-list mobile-style-available has-banner-image index-page force-mobile-nav">
    <div class="sqs-announcement-bar-dropzone"></div>
    <div id="sidecarNav">
      

  <div id="mobileNavWrapper" class="nav-wrapper" data-content-field="navigation-mobileNav">
    <nav id="mobileNavigation">
      

      
        
          <div class="index active homepage">
            <a href="/home">
              Home
            </a>
          </div>
 
          <div class="index">
            <a href="/about-us">
              About Us
            </a>
          </div>
  
          <div class="index">
            <a href="/community">
              Community
            </a>
          </div>

          <div class="external">
            <a href="https://medium.com/@aditiagrawal_49691">
              Blog
            </a>
          </div>
          
 <div class="collection">
              <a href="/contact">
                Contact
              </a>
            </div>
            <div class="collection">
              <a href="/be-a-trailblazer">
                Be A Trailblazer
              </a>
            </div> 
            </div>    
    </nav>
  </div>
    </div>
    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone" style="top: 103px;"></div>
      <header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
        <div class="header-inner">
          <div id="logoWrapper" class="wrapper" data-content-field="site-title">
            
              <h1 id="logoImage"><a href="/home"><img src="/saved_resource" alt="School of Future"></a></h1>
            
          </div><!--
          --><div class="mobile-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><div class="mobile-nav-toggle fixed-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><!--
          --><div id="headerNav">

  <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
    <nav id="mainNavigation" data-content-field="navigation-mainNav">
  
          <div class="index active homepage">
            <a href="/home">
              Home
            </a>
          </div>
 
          <div class="index">
            <a href="/about-us">
              About Us
            </a>
          </div>
  
          <div class="index">
            <a href="/community">
              Community
            </a>
          </div>

          <div class="external">
            <a href="https://medium.com/@aditiagrawal_49691">
              Blog
            </a>
          </div>
          
 <div class="collection">
              <a href="/contact">
                Contact
              </a>
            </div>
            <div class="collection">
              <a href="/be-a-trailblazer">
                Be A Trailblazer
              </a>
            </div> 
    </nav>
  </div>
  <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
  <style>.mobile-nav-toggle-label { display: inline-block !important; }</style>


</div>
        </div>
      </header>
      <div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper"><div class="row"><div class="col"></div></div></div>
    </body>
    </html>