<% include ./partials/header %>

<!DOCTYPE html>
<!-- saved from url=(0039)https://www.schooloffuture.in/community -->
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope="" itemtype="http://schema.org/WebPage" class="yui3-js-enabled js flexbox canvas canvastext webgl no-touch hashchange history draganddrop rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions video audio svg inlinesvg svgclippaths wf-futurapt-n3-active wf-futurapt-n4-active wf-futurapt-n5-active wf-futurapt-n7-active wf-futurapt-i5-active wf-futurapt-i7-active wf-europa-n3-active wf-europa-n7-active wf-europa-i3-active wf-europa-i7-active wf-active gr__schooloffuture_in" style="" id="yui_3_17_2_1_1559948381259_163"><div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- This is Squarespace. --><!-- schooloffuture -->
<!--<base href="">--><base href=".">

<title>Community — School of Future</title>
<link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5cf77a93d14404000116ca8a/favicon.ico">
<link rel="canonical" href="https://www.schooloffuture.in/community">
<meta property="og:site_name" content="School of Future">
<meta property="og:title" content="Community — School of Future">
<meta property="og:url" content="https://www.schooloffuture.in/community">
<meta property="og:type" content="website">
<meta property="og:image" content="http://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1543042708042/SquareLogo.png?format=1500w">
<meta property="og:image:width" content="1056">
<meta property="og:image:height" content="1055">
<meta itemprop="name" content="Community — School of Future">
<meta itemprop="url" content="https://www.schooloffuture.in/community">
<meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1543042708042/SquareLogo.png?format=1500w">
<link rel="image_src" href="http://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1543042708042/SquareLogo.png?format=1500w">
<meta itemprop="image" content="http://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1543042708042/SquareLogo.png?format=1500w">
<meta name="twitter:title" content="Community — School of Future">
<meta name="twitter:image" content="http://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1543042708042/SquareLogo.png?format=1500w">
<meta name="twitter:url" content="https://www.schooloffuture.in/community">
<meta name="twitter:card" content="summary">
<meta name="description" content="">
<script async="" src="/analytics.js.download"></script><script type="text/javascript" src="/C25hvyXuDne-4fHXny-XUYr1CyaYiD-i01knPZMcG93feCjffFHN4UJLFRbh52jhWDmKjQwXFe9U5ejuwQw3ZRwoFhJ3FRMXZg79MPG0ShFGdhNCdhZciWsuSc90SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUDjhyzdhUzZcZuiYmkZPoTdKUDjh.download"></script>
<style type="text/css">@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?subset_id=2&fvd=n5&v=3) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/1eb35a/000000000000000000010090/27/l?subset_id=2&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/1eb35a/000000000000000000010090/27/d?subset_id=2&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/1eb35a/000000000000000000010090/27/a?subset_id=2&fvd=i5&v=3) format("opentype");font-weight:500;font-style:italic;}@font-face{font-family:futura-pt;src:url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/l?subset_id=2&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/d?subset_id=2&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/a386b3/00000000000000003b9b12f9/27/a?subset_id=2&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/a6fa4a/00000000000000003b9b12fc/27/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}</style><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-8c7f862da4d542ae7693-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
<script crossorigin="anonymous" src="/common-8c7f862da4d542ae7693-min.en-US.js.download"></script><script crossorigin="anonymous" src="/performance-6ca9bb696d9e403d3756-min.en-US.js.download" defer=""></script><script data-name="static-context">Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"//static.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/announcement-bar-64f47cdb0caf80530dd5-min.en-US.js"},"squarespace-audio-player":{"css":"//static.squarespace.com/universal/styles-compressed/audio-player-a57b8f3aa31918104f57a068648fbc63-min.css","js":"//static.squarespace.com/universal/scripts-compressed/audio-player-d033953ccb76f2e46d3c-min.en-US.js"},"squarespace-blog-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/blog-collection-list-dae61b6efffd234d480e-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"//static.squarespace.com/universal/styles-compressed/calendar-block-renderer-9acef2d24c6a994fca1a8a82e99e19c3-min.css","js":"//static.squarespace.com/universal/scripts-compressed/calendar-block-renderer-bd7d7198e45465a001ca-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"//static.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/chartjs-helpers-27bf01fd8fa88aac72dc-min.en-US.js"},"squarespace-comments":{"css":"//static.squarespace.com/universal/styles-compressed/comments-a7b26c9ae88684f76d210b61d0b0d848-min.css","js":"//static.squarespace.com/universal/scripts-compressed/comments-e9f04e7b40d7a4210062-min.en-US.js"},"squarespace-commerce-cart":{"js":"//static.squarespace.com/universal/scripts-compressed/commerce-cart-d1f26af8022df69512ff-min.en-US.js"},"squarespace-dialog":{"css":"//static.squarespace.com/universal/styles-compressed/dialog-7d0827ef14cce0b773fcd1eee28fbdee-min.css","js":"//static.squarespace.com/universal/scripts-compressed/dialog-549f610665c015c8ab76-min.en-US.js"},"squarespace-events-collection":{"css":"//static.squarespace.com/universal/styles-compressed/events-collection-9acef2d24c6a994fca1a8a82e99e19c3-min.css","js":"//static.squarespace.com/universal/scripts-compressed/events-collection-e20c06e8725988c9d482-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"//static.squarespace.com/universal/scripts-compressed/form-rendering-utils-a6b44bbf4c3bcc1b776f-min.en-US.js"},"squarespace-forms":{"css":"//static.squarespace.com/universal/styles-compressed/forms-ac7917c174031c937e3df4b3a2005b34-min.css","js":"//static.squarespace.com/universal/scripts-compressed/forms-95a092bda985cfcc50ed-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/gallery-collection-list-7648566bab72920ef13d-min.en-US.js"},"squarespace-image-zoom":{"css":"//static.squarespace.com/universal/styles-compressed/image-zoom-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/image-zoom-5fff9f87507526b7fd4d-min.en-US.js"},"squarespace-pinterest":{"css":"//static.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/pinterest-dced14fb35881e9638d2-min.en-US.js"},"squarespace-popup-overlay":{"css":"//static.squarespace.com/universal/styles-compressed/popup-overlay-7b48efeab9b323dfdb524a256cf61595-min.css","js":"//static.squarespace.com/universal/scripts-compressed/popup-overlay-9a7a9e3ea68b7ebee2da-min.en-US.js"},"squarespace-product-quick-view":{"css":"//static.squarespace.com/universal/styles-compressed/product-quick-view-bc8694b75a40e4bd969b662b80ebafb5-min.css","js":"//static.squarespace.com/universal/scripts-compressed/product-quick-view-908cfd6924aec70271c8-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-item-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-item-v2-68ab75c4572ea9883811-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-list-v2-72b0ab7796582588032aa6472e2e2f14-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-list-v2-9b19e83a4711c984e0d4-min.en-US.js"},"squarespace-search-page":{"css":"//static.squarespace.com/universal/styles-compressed/search-page-ea3e98edb84abbc5e758884f69149027-min.css","js":"//static.squarespace.com/universal/scripts-compressed/search-page-e5dd1827053bd57921d7-min.en-US.js"},"squarespace-search-preview":{"js":"//static.squarespace.com/universal/scripts-compressed/search-preview-2329dc1a66d72291a877-min.en-US.js"},"squarespace-share-buttons":{"js":"//static.squarespace.com/universal/scripts-compressed/share-buttons-202ab902ef3d9335808b-min.en-US.js"},"squarespace-simple-liking":{"css":"//static.squarespace.com/universal/styles-compressed/simple-liking-310d0b18e112f708f91339b11fd55714-min.css","js":"//static.squarespace.com/universal/scripts-compressed/simple-liking-bcaecbf7779a8f66d3cb-min.en-US.js"},"squarespace-social-buttons":{"css":"//static.squarespace.com/universal/styles-compressed/social-buttons-26106f808f7e9c739a7f862a408ed039-min.css","js":"//static.squarespace.com/universal/scripts-compressed/social-buttons-32faafb7c943ece8d7fc-min.en-US.js"},"squarespace-tourdates":{"css":"//static.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/tourdates-cea482e0d52ee58a49b5-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"//static.squarespace.com/universal/styles-compressed/website-overlays-manager-df9cddfe3eca22764d10fd6fc4f4ad73-min.css","js":"//static.squarespace.com/universal/scripts-compressed/website-overlays-manager-8a2457ae596f0d6083f0-min.en-US.js"}},"pageType":1,"website":{"id":"5ba344e18f5130f397b0604d","identifier":"schooloffuture","websiteType":1,"contentModifiedOn":1559826303940,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"Asia/Kolkata","machineTimeZoneOffset":19800000,"timeZoneOffset":19800000,"timeZoneAbbr":"IST","siteTitle":"School of Future","fullSiteTitle":"Community \u2014 School of Future","siteTagLine":"Future proofing students","siteDescription":"","logoImageId":"5bf8f69d352f534626c6dfd5","socialLogoImageId":"5bf8f691f950b75bc4baa471","shareButtonOptions":{"1":true,"5":true,"2":true,"4":true,"6":true,"8":true,"7":true,"3":true},"logoImageUrl":"//static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f69d352f534626c6dfd5/1559826303940/","socialLogoImageUrl":"//static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f691f950b75bc4baa471/1559826303940/","authenticUrl":"https://www.schooloffuture.in","internalUrl":"https://schooloffuture.squarespace.com","baseUrl":"https://www.schooloffuture.in","primaryDomain":"www.schooloffuture.in","sslSetting":3,"isHstsEnabled":true,"socialAccounts":[{"serviceId":32,"screenname":"Medium","addedOn":1537438924394,"profileUrl":"https://medium.com/@aditiagrawal_49691","iconEnabled":true,"serviceName":"medium"},{"serviceId":10,"userId":"9233792679","userName":"_schooloffuture","screenname":"School Of Future","addedOn":1542025856675,"profileUrl":"http://instagram.com/_schooloffuture","iconUrl":"https://scontent.cdninstagram.com/vp/94c918e9ee974f90e934a3d152998bd7/5C83BA5B/t51.2885-19/s150x150/43693998_323447135101516_1327812731813756928_n.jpg","collectionId":"5be9728075f9ee379f4fe6e1","iconEnabled":true,"serviceName":"instagram"}],"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":true,"showOwnerLogin":false},"websiteSettings":{"id":"5ba344e18f5130f397b0604f","websiteId":"5ba344e18f5130f397b0604d","type":"Personal","subjects":[],"country":"IN","state":"DL","simpleLikingEnabled":true,"mobileInfoBarSettings":{"style":1,"isContactEmailEnabled":false,"isContactPhoneNumberEnabled":false,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","commentsEnabled":false,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"paymentSettings":{},"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["CHF","HKD","MXN","EUR","DKK","USD","CAD","MYR","NOK","THB","AUD","SGD","ILS","PLN","GBP","CZK","SEK","NZD","PHP","RUB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false},"isLive":false,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false},"cookieSettings":{"isCookieBannerEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"isRestrictiveCookiePolicyAbsolute":false,"cookieBannerText":"<p>By using this website, you agree to our use of cookies. We use cookies to provide you with a great experience and to help our website run effectively.</p>","cookieBannerTheme":"DARK","cookieBannerVariant":"BAR","cookieBannerPosition":"BOTTOM","cookieBannerCtaVariant":"ICON","cookieBannerCtaText":"OK"},"websiteCloneable":false,"collection":{"title":"Community","id":"5cefe0803cd4e3000135e1fb","fullUrl":"/community","type":1},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","banner-slideshow-controls":"Arrows","gallery-arrow-style":"No Background","gallery-aspect-ratio":"3:2 Standard","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Grid","gallery-info-overlay":"Show on Hover","gallery-loop":"false","gallery-navigation":"Bullets","gallery-show-arrows":"true","gallery-transitions":"Fade","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"100px","gridSize":"280px","gridSpacing":"10px","logoContainerWidth":"285px","product-gallery-auto-crop":"false","product-image-auto-crop":"true","siteTitleContainerWidth":"265px"},"templateId":"52a74dafe4b073a80cd253c5","pageFeatures":[1,2,4],"gmRenderKey":"QUl6YVN5Q0JUUk9xNkx1dkZfSUUxcjQ2LVQ0QWVUU1YtMGQ3bXk4","betaFeatureFlags":["SITE_USER_SERVICE-read-users-from-service","SITE_USER_SERVICE-read-users-from-service-by-email","SITE_USER_SERVICE-read-users-from-service-by-accountid","ORDERS-SERVICE-check-digital-good-access-with-service","ORDERS-SERVICE-reset-digital-goods-access-with-service","dg_downloads_from_fastly","product-retriever-v2-enabled","domain_locking_via_registrar_service","image_editor_experimental_features","domain_deletion_via_registrar_service","domain_info_via_registrar_service","new_commerce_checkout_bundle","domain_renewal_via_registrar_service","add_new_page_alt","image_picker"],"impersonatedSession":false,"tzData":{"zones":[[330,null,"IST",null]],"rules":{}}};</script><script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script><link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://www.schooloffuture.in/community?format=RSS">
<script type="application/ld+json">{"url":"https://www.schooloffuture.in","name":"School of Future","description":"","image":"//static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5bf8f69d352f534626c6dfd5/1559826303940/","@context":"http://schema.org","@type":"WebSite"}</script><!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&part=4"/><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&noMedia=true&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&noMedia=true&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&noMedia=true&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ba344e18f5130f397b0604d/32/52a74dafe4b073a80cd253c5/5ba3492b88251bd3cdb4c31e/1021-05142015/1559226180811/site.css?&filterFeatures=false&noMedia=true&part=4"/><![endif]-->
<!--[if !IE]> --><link rel="stylesheet" type="text/css" href="/site.css"><!-- <![endif]-->
<script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-139016946-2', 'auto');ga('send', 'pageview');</script><!-- End of Squarespace Headers -->
    <script>/* Must be below squarespace-headers */(function(){var e='ontouchstart'in window||navigator.msMaxTouchPoints;var t=document.documentElement;if(!e&&t){t.className=t.className.replace(/touch-styles/,'')}})()
    </script>
  <style type="text/css">.disable-hover:not(.sqs-layout-editing), .disable-hover:not(.sqs-layout-editing) * { pointer-events: none  ; }</style></head>

  
      
        
          
            
            
          
        
      


      
      
      

      <main id="page" role="main">
        
        <!--
        --><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="5cefe0803cd4e3000135e1fb">
         <!-- Create index sections -->

  
  <div id="students" class="index-section" data-url-id="students" data-collection-id="5c654221971a187c6635ff16" data-edit-main-image="Banner">
    <div class="promoted-gallery-wrapper"></div>
    
      
    

    <div class="index-section-wrapper page-content">
      <div class="content-inner has-content" data-content-field="main-content">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1559226301332" id="page-5c654221971a187c6635ff16"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5c654221971a187c6635ff17"><div class="sqs-block-content"><h1 style="text-align:center;white-space:pre-wrap;">Welcome to the SoF Community!</h1></div></div><div class="row sqs-row"><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1559037719736_5946"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">Who is a SoFer? </h2><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">A SoFer is a member of a Trailblazer’s Crew</p></li><li><p class="" style="white-space:pre-wrap;">Joins weekly meetings to complete projects</p></li><li><p class="" style="white-space:pre-wrap;">Spends 3 hours per week with SoF</p></li><li><p class="" style="white-space:pre-wrap;">Excited to future-proof themselves by learning a new skill each month</p></li></ul></div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1559224488936_9399"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_238">
<div class="sqs-block-button-container--center" data-alignment="center" data-button-size="medium" id="yui_3_17_2_1_1559948381259_237">
	<a href="http://ow.ly/7p3g50usBXg" class="sqs-block-button-element--medium sqs-block-button-element" target="_blank" data-initialized="true">Register Now!</a>
</div></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1559225165537_21451"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1559037719736_6041"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">Who is a Trailblazer? </h2><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">A Trailblazer creates a crew of 4-7 members</p></li><li><p class="" style="white-space:pre-wrap;">Organises and hosts the crew meetings</p></li><li><p class="" style="white-space:pre-wrap;">Spends 4 hours per week with SoF</p></li><li><p class="" style="white-space:pre-wrap;">Ensures that their crew members are working well together</p></li></ul></div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1559224488936_12573"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_246">
<div class="sqs-block-button-container--center" data-alignment="center" data-button-size="medium" id="yui_3_17_2_1_1559948381259_245">
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSf3ndL2LR4tlPuFROMADOgsgid5h4cpSHB8y0BcslWVl1hAvQ/viewform" class="sqs-block-button-element--medium sqs-block-button-element" target="_blank" data-initialized="true">Apply Now!</a>
</div></div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1559225165537_5272"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;">Fundamentally, no one can be completely trained for “a job” in today’s ambiguous and uncertain world. Instead, we will train  you in a set of skills that are relevant across jobs and industries! </p><p class="" style="white-space:pre-wrap;">At School of Future, we focus on building skills that are extremely transversal in nature and have universal usage in the context of your future.&nbsp;We work on building self awareness, collaboration, and entrepreneurship throughout our one year course. Using these skills in your daily life, helps you develop agency that makes you rooted, aware, and collaborative.&nbsp;</p><p class="" style="white-space:pre-wrap;"><strong>How it works:&nbsp;</strong></p><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">You join a crew of 4 - 7 members for the course of one year to future-proof yourself.</p></li><li><p class="" style="white-space:pre-wrap;">You will work online and offline — This<strong> balance of self-paced learning and group practice </strong>allows you to actually<strong> take the skills </strong>you learn about, <strong>into the real world.</strong></p></li></ul></div></div><div class="row sqs-row"><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1557949710540_12147"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">Online Self-learning</h2><p class="" style="white-space:pre-wrap;">You spend 2 - 3 hours a week on the platform, at your own pace — interacting with the content, learning about the skill, and writing thoughtful answers. You can share your answers on the platform and read what other SoFers have to say. The SoF community is a safe place where creative ideas and well articulated opinions are welcomed.&nbsp;</p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1559029647968_60841"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1557949710540_11409"><div class="sqs-block-content"><h2 style="white-space:pre-wrap;">Offline Group-Practice</h2><p class="" style="white-space:pre-wrap;">Once a week, your Trailblazer will organise a crew meeting to work on the crew project, utilising the content and skills you learned throughout the week. These projects include creating skits, debating, or building models. Your crew can submit your project onto the platform and recognise other teams’ work.</p></div></div></div></div></div></div></div>
      </div>
    </div>
  </div>
  
  <div id="parents" class="index-section" data-url-id="parents" data-collection-id="5cecea886e9a7f68cdb2dc7e" data-edit-main-image="Banner">
    <div class="promoted-gallery-wrapper"></div>
    
      
    

    <div class="index-section-wrapper page-content" id="yui_3_17_2_1_1559948381259_162">
      <div class="content-inner has-content" data-content-field="main-content" id="yui_3_17_2_1_1559948381259_161">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1559032225324" id="page-5cecea886e9a7f68cdb2dc7e"><div class="row sqs-row" id="yui_3_17_2_1_1559948381259_160"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1559948381259_159"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1559030420312_4577"><div class="sqs-block-content"><h1 style="text-align:center;white-space:pre-wrap;">Our Parents</h1><p class="" style="white-space:pre-wrap;">Welcome to being a School of Future parent - we are delighted to be able to tell you more about us. Our mission as a company is to “future-proof students.” Let us explain what we mean! </p><p class="" style="white-space:pre-wrap;">As the world is constantly evolving, so are the opportunities and risks that it carries. We are seeing an increase in political uncertainty, an extremely fast pace of technological change, more and more people moving to cities, and extreme climate change. </p><p class="" style="white-space:pre-wrap;">Today, 60% of students are being trained in jobs that would be completely changed by automation. It is becoming more difficult for youth to secure junior roles and gather early work experience, hence leading to an increase in unemployment across the country. </p></div></div><div class="sqs-block video-block sqs-block-video sqs-col-6 span-6 float float-left" data-block-json="{&quot;blockAnimation&quot;:&quot;none&quot;,&quot;layout&quot;:&quot;caption-hidden&quot;,&quot;overlay&quot;:false,&quot;description&quot;:{&quot;html&quot;:&quot;&lt;p class=\&quot;\&quot;&gt;http://www.weforum.org/&lt;/p&gt;&quot;,&quot;raw&quot;:false},&quot;hSize&quot;:6,&quot;floatDir&quot;:&quot;left&quot;,&quot;html&quot;:&quot;&lt;iframe src=\&quot;//www.youtube.com/embed/7g8OpiWR83Y?wmode=opaque&amp;amp;enablejsapi=1\&quot; height=\&quot;480\&quot; width=\&quot;854\&quot; scrolling=\&quot;no\&quot; frameborder=\&quot;0\&quot; allowfullscreen=\&quot;\&quot;&gt;\n&lt;/iframe&gt;&quot;,&quot;url&quot;:&quot;https://www.youtube.com/watch?v=7g8OpiWR83Y&quot;,&quot;width&quot;:854,&quot;height&quot;:480,&quot;providerName&quot;:&quot;YouTube&quot;,&quot;thumbnailUrl&quot;:&quot;https://i.ytimg.com/vi/7g8OpiWR83Y/hqdefault.jpg&quot;,&quot;resolvedBy&quot;:&quot;youtube&quot;}" data-block-type="32" id="block-yui_3_17_2_1_1559030420312_6011"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_112"><div class="intrinsic" style="max-width:100%"><div class="embed-block-wrapper" style="padding-bottom:56.20609%;"><div class="sqs-video-wrapper video-none" data-html="&lt;iframe src=&quot;//www.youtube.com/embed/7g8OpiWR83Y?wmode=opaque&amp;enablejsapi=1&quot; height=&quot;480&quot; width=&quot;854&quot; scrolling=&quot;no&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;&quot;&gt;&lt;br/&gt;&lt;/iframe&gt;" data-provider-name="YouTube" id="yui_3_17_2_1_1559948381259_119"><div class="intrinsic"><div class="intrinsic-inner" style="padding-bottom: 56.2061%;"><iframe src="/7g8OpiWR83Y.html" height="480" width="854" scrolling="no" frameborder="0" allowfullscreen="" id="yui_3_17_2_1_1559948381259_123"><br/></iframe></div></div></div></div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1559030420312_10667"><div class="sqs-block-content"><h2 style="text-align:center;white-space:pre-wrap;">So, how do we train students for a future that we can barely predict? </h2><p class="" style="white-space:pre-wrap;">We work with students on 21st century skills that are crucial for them in life. Universal skills that help will help your child acquire, create, and keep a career that suits their passions and abiliti<em>es.</em> We focus on building self-awareness, collaboration, and entrepreneurship throughout our one-year course. </p><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p><p class="" style="white-space:pre-wrap;"><strong>How do we do this?</strong></p><p class="" style="white-space:pre-wrap;">Our platform is unique as it combines both online and offline aspects of learning a skill. Online, they interact with the content, learning about the skill, and conveying their opinion by writing thoughtful answers. They share their answers on the platform and read what others in the community have to say. Offline, they meet with their group to work on projects, utilising the content and skills they have learnt. Your child will not have their nose stuck inside the computer/phone - they would be required to interact and learn from other students. We also promote a lot of conversations with you, their parents, to help them learn from your experiences.</p></div></div><div class="row sqs-row" id="yui_3_17_2_1_1559948381259_158"><div class="col sqs-col-6 span-6"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1559030420312_26431"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>What will your child gain?</strong></p><ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">Increasing their capacity to perform academically and socially. For example, most teenagers struggle to talk about how they’re feeling and our skill of emotional intelligence helps them resolve their messy feelings.</p></li><li><p class="" style="white-space:pre-wrap;">Understanding what drives them and how they'd like to change this world, and turning these passions into jobs. </p></li><li><p class="" style="white-space:pre-wrap;">Thinking and being an entrepreneur and learning to lead people and work.</p></li><li><p class="" style="white-space:pre-wrap;">In the 21st century, your child will have to network and communicate online in their future career. The SoF platform is a safe community to practice sharing ideas respectfully and productively. </p></li></ul><p class="" style="white-space:pre-wrap;"><strong>What is the time commitment?</strong></p><p class="" style="white-space:pre-wrap;">Your child will engage in the online platform for less than 20 minutes per day or about 2.5 hours in a week and will meet their group for 1 hour, once a week. Students have the flexibility to pause their subscription as and when they have urgent things like exams come up. You can read more about our terms of use and privacy policy on our website. </p><p class="" style="white-space:pre-wrap;"><strong>Do you have any more questions?</strong></p><p class="" style="white-space:pre-wrap;">You can always directly reach out to us directly through our <a href="https://www.schooloffuture.in/contact-us" target="_blank">Contact Us</a> page. </p></div></div></div><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1559948381259_157"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="139.69631236442518" data-block-type="5" id="block-yui_3_17_2_1_1559030420312_19041"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_156">

  

    
      <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" id="yui_3_17_2_1_1559948381259_155">
      
        <div class="intrinsic" style="max-width:1406.0px;" id="yui_3_17_2_1_1559948381259_154">
          
            <div style="padding-bottom: 139.696%; overflow: hidden;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1559948381259_153">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1559032141847-A3DPX5AJ2IKN8TDYNQ6A/ke17ZwdGBToddI8pDm48kDILGILLoGE2ZOzCaNVWXxJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmujyyI7Frso6MRdplGTbhDiXldKvsICm7MvPBuHr0Sj50Udg6pLmGeMoepLahV8aZ/IMG_20181226_135310.jpg" alt="IMG_20181226_135310.jpg" /></noscript><img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1559032141847-A3DPX5AJ2IKN8TDYNQ6A/ke17ZwdGBToddI8pDm48kDILGILLoGE2ZOzCaNVWXxJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmujyyI7Frso6MRdplGTbhDiXldKvsICm7MvPBuHr0Sj50Udg6pLmGeMoepLahV8aZ/IMG_20181226_135310.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1559032141847-A3DPX5AJ2IKN8TDYNQ6A/ke17ZwdGBToddI8pDm48kDILGILLoGE2ZOzCaNVWXxJ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmujyyI7Frso6MRdplGTbhDiXldKvsICm7MvPBuHr0Sj50Udg6pLmGeMoepLahV8aZ/IMG_20181226_135310.jpg" data-image-dimensions="1406x1875" data-image-focal-point="1.0,0.5" data-load="false" data-image-id="5cecf1429b747a21240c1297" data-type="image" style="left: -4.79881%; top: 0%; width: 104.799%; height: 100%; position: absolute;" alt="IMG_20181226_135310.jpg" data-image-resolution="750w" src="/IMG_20181226_135310.jpg">
            </div>
          

          

        </div>
      
      </div>
    

  


</div></div></div></div></div></div></div>
      </div>
    </div>
  </div>
  
  <div id="testimonials-1" class="index-section" data-url-id="testimonials-1" data-collection-id="5be97a4c70a6ad9b0a35f27e" data-edit-main-image="Banner">
    <div class="promoted-gallery-wrapper"></div>
    
      
        <div class="banner-thumbnail-wrapper" data-content-field="main-image">
          <div class="color-overlay"></div>
          <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
            <img data-src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1550218311414-9JBVZWG892J9JQNNAW64/ke17ZwdGBToddI8pDm48kOKWT388sFooo36V6-P6IPUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drM7mxa_ZsNQlQFgpZNeqvcBKogF8IZquNTVjvR0gQLbP7cJNZlDXbgJNE9ef52e8w/1.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1550218311414-9JBVZWG892J9JQNNAW64/ke17ZwdGBToddI8pDm48kOKWT388sFooo36V6-P6IPUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drM7mxa_ZsNQlQFgpZNeqvcBKogF8IZquNTVjvR0gQLbP7cJNZlDXbgJNE9ef52e8w/1.jpg" data-image-dimensions="1731x738" data-image-focal-point="0.5,0.5" data-parent-ratio="11.2" style="font-size: 0px; left: 0px; top: -227.568px; width: 1349px; height: 575.137px; position: relative;" alt="1.jpg" class="" data-image-resolution="1500w" src="/1.jpg">
          </figure>
          
        </div>
      
    

    <div class="index-section-wrapper page-content" id="yui_3_17_2_1_1559948381259_184">
      <div class="content-inner has-content" data-content-field="main-content" id="yui_3_17_2_1_1559948381259_183">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1551252371437" id="page-5be97a4c70a6ad9b0a35f27e"><div class="row sqs-row" id="yui_3_17_2_1_1559948381259_182"><div class="col sqs-col-6 span-6"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-795b8cfd7d606d4b9ba7"><div class="sqs-block-content"><h1 style="text-align:center;white-space:pre-wrap;">Students speak up!</h1></div></div><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-yui_3_17_2_1_1542030166083_66869"><div class="sqs-block-content"><p>We tested our prototype with students from Grade 8, Grade 9, and Grade 11. Here's what some of them had to say about us.</p>
</div></div><div class="sqs-block quote-block sqs-block-quote null" data-block-type="31" id="block-yui_3_17_2_1_1542030166083_55707"><div class="sqs-block-content"><figure class="block-animation-none">
  <blockquote>
    <span>“</span>I was surprised by how much I discovered about myself while doing this [emotional intelligence] module. It is useful and important for anyone who is facing an issue at school with their friends/in their groups.<span>”</span>
  </blockquote>
  <figcaption class="source">— Ayaan, Grade 11</figcaption>
</figure>
</div></div></div><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1559948381259_181"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="97.83080260303689" data-block-type="5" id="block-212361e4de2e873d3fc7"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_180">

  

    
      <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" id="yui_3_17_2_1_1559948381259_179">
      
        <div class="intrinsic" style="max-width:1617.0px;" id="yui_3_17_2_1_1559948381259_178">
          
            <div style="padding-bottom: 97.8308%; overflow: hidden;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1559948381259_177">
              <noscript><img src="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5be97b4403ce64619f8ec8b0/1542030985831/IMG_20181101_081128.jpg" alt="IMG_20181101_081128.jpg" /></noscript><img class="thumb-image loaded" data-src="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5be97b4403ce64619f8ec8b0/1542030985831/IMG_20181101_081128.jpg" data-image="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5be97b4403ce64619f8ec8b0/1542030985831/IMG_20181101_081128.jpg" data-image-dimensions="1617x1617" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5be97b4403ce64619f8ec8b0" data-type="image" style="left: 0%; top: -1.14108%; width: 100%; height: 102.282%; position: absolute;" alt="IMG_20181101_081128.jpg" data-image-resolution="500w" src="/IMG_20181101_081128.jpg">
            </div>
          

          

        </div>
      
      </div>
    

  


</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1542030166083_31733"><div class="sqs-block-content"><blockquote><p style="white-space:pre-wrap;">I learnt that when you feel a certain emotion, you should react accordingly and express your reaction. For example, if someone hurt you, you should let that person know instead of keeping quiet.</p><p style="white-space:pre-wrap;"><strong>Ameyaa, Grade 9</strong></p></blockquote></div></div></div></div><div class="row sqs-row" id="yui_3_17_2_1_1559948381259_203"><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1559948381259_202"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="99.66216216216216" data-block-type="5" id="block-d176c6861eb904a51a62"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_201">

  

    
      <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" id="yui_3_17_2_1_1559948381259_200">
      
        <div class="intrinsic" style="max-width:1875.0px;" id="yui_3_17_2_1_1559948381259_199">
          
            <div style="padding-bottom: 99.6622%; overflow: hidden;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1559948381259_198">
              <noscript><img src="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5be97a7cc2241bb5cb883cd9/1542031143503/IMG_20181101_081036.jpg" alt="IMG_20181101_081036.jpg" /></noscript><img class="thumb-image loaded" data-src="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5be97a7cc2241bb5cb883cd9/1542031143503/IMG_20181101_081036.jpg" data-image="https://static1.squarespace.com/static/5ba344e18f5130f397b0604d/t/5be97a7cc2241bb5cb883cd9/1542031143503/IMG_20181101_081036.jpg" data-image-dimensions="1875x1875" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5be97a7cc2241bb5cb883cd9" data-type="image" style="left: 0%; top: -0.203666%; width: 100%; height: 100.407%; position: absolute;" alt="IMG_20181101_081036.jpg" data-image-resolution="500w" src="/IMG_20181101_081036.jpg">
            </div>
          

          

        </div>
      
      </div>
    

  


</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1542030166083_37762"><div class="sqs-block-content"><blockquote><p style="white-space:pre-wrap;"><em>[Emotional Intelligence] matters because it tells us about a lot of emotions that we go through every day so it is important for us to learn about these emotions.</em></p><p style="white-space:pre-wrap;"><strong><em>Ishita, Grade 9</em></strong></p></blockquote></div></div></div><div class="col sqs-col-6 span-6" id="yui_3_17_2_1_1559948381259_221"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-aspect-ratio="99.34924078091106" data-block-type="5" id="block-yui_3_17_2_1_1550218318607_6997"><div class="sqs-block-content" id="yui_3_17_2_1_1559948381259_220">

  

    
      <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" id="yui_3_17_2_1_1559948381259_219">
      
        <div class="intrinsic" style="max-width:2500.0px;" id="yui_3_17_2_1_1559948381259_218">
          
            <div style="padding-bottom: 99.3492%; overflow: hidden;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1559948381259_217">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1551252201188-NNVDRXXEGQN783NE86JZ/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/IMG_20181226_112958.jpg" alt="IMG_20181226_112958.jpg" /></noscript><img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1551252201188-NNVDRXXEGQN783NE86JZ/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/IMG_20181226_112958.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5ba344e18f5130f397b0604d/1551252201188-NNVDRXXEGQN783NE86JZ/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/IMG_20181226_112958.jpg" data-image-dimensions="2500x2500" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5c763ad89140b734ee2b4594" data-type="image" style="left: 0%; top: -0.306122%; width: 100%; height: 100.612%; position: absolute;" alt="IMG_20181226_112958.jpg" data-image-resolution="500w" src="/IMG_20181226_112958.jpg">
            </div>
          

          

        </div>
      
      </div>
    

  


</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1551248434992_30170"><div class="sqs-block-content"><blockquote><p style="white-space:pre-wrap;">Even after deciding what to do…we do not know how to get to our goal. We do not know how to input our ideas into the world. Ideas that could grow into companies, into futures, lay forgotten. What I feel this [School of Future] is about is bringing power to the creative, the thinkers, the doers, the ones who want to change the world.</p><p style="white-space:pre-wrap;"><strong>Tanush, Grade 8</strong></p></blockquote></div></div></div></div></div>
      </div>
    </div>
  </div>
        </div><!--
        -->
        
      </main>

      <div id="preFooter" class="unscrolled">
        <div class="pre-footer-inner">
          <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1538105326411" id="preFooterBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
        </div>
      </div>

      <footer id="footer" role="contentinfo">
        <div class="footer-inner">
          <div class="nav-wrapper back-to-top-nav"><nav><div class="back-to-top"><a href="https://www.schooloffuture.in/community#header">Back to Top</a></div></nav></div>
          


          
          <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1542026080422" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1542025413484_20113"><div class="sqs-block-content">

<div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-black social-icons-size-small social-icons-style-regular ">
  <nav class="sqs-svg-icon--list">
    <a href="https://medium.com/@aditiagrawal_49691" target="_blank" class="sqs-svg-icon--wrapper medium">
      <div>
        <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
          <use class="sqs-use--icon" xlink:href="#medium-icon"></use>
          <use class="sqs-use--mask" xlink:href="#medium-mask"></use>
        </svg>
      </div>
    </a><a href="http://instagram.com/_schooloffuture" target="_blank" class="sqs-svg-icon--wrapper instagram">
      <div>
        <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
          <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
          <use class="sqs-use--mask" xlink:href="#instagram-mask"></use>
        </svg>
      </div>
    </a>
  </nav>
</div></div></div></div></div></div>
        </div>
      </footer>

    </div>

    <script src="/site-bundle.js.download" type="text/javascript"></script>
    <script type="text/javascript" data-sqs-type="imageloader-bootstrapper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script><script>Squarespace.afterBodyLoad(Y);</script><svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none"><symbol id="medium-icon" viewBox="0 0 64 64"><path d="M46.908,23.95c-0.006-0.005-0.011-0.01-0.018-0.014l-0.01-0.005l-9.05-4.525c-0.061-0.031-0.125-0.051-0.19-0.068c-0.082-0.021-0.165-0.034-0.249-0.034c-0.347,0-0.692,0.174-0.878,0.477l-5.21,8.467l6.538,10.625l9.095-14.779C46.966,24.046,46.952,23.985,46.908,23.95z M28.433,35.958L37,40.241L28.433,26.32V35.958zM38.287,40.884l7.052,3.526C46.256,44.869,47,44.548,47,43.693V26.726L38.287,40.884z M26.946,23.964l-8.839-4.419c-0.16-0.08-0.312-0.118-0.449-0.118c-0.387,0-0.659,0.299-0.659,0.802v19.083c0,0.511,0.374,1.116,0.831,1.344l7.785,3.892c0.2,0.1,0.39,0.147,0.561,0.147c0.484,0,0.823-0.374,0.823-1.003V24.051C27,24.014,26.979,23.98,26.946,23.964z"></path></symbol><symbol id="medium-mask" viewBox="0 0 64 64"><path d="M0,0v64h64V0H0z M27,43.693c0,0.628-0.339,1.003-0.823,1.003c-0.172,0-0.362-0.047-0.561-0.147l-7.785-3.892C17.374,40.428,17,39.823,17,39.312V20.229c0-0.503,0.271-0.802,0.659-0.802c0.137,0,0.289,0.038,0.449,0.118l8.839,4.419C26.979,23.98,27,24.014,27,24.051V43.693z M28.433,35.958V26.32L37,40.241L28.433,35.958z M31.303,28.248l5.21-8.467c0.187-0.303,0.532-0.477,0.878-0.477c0.084,0,0.167,0.013,0.249,0.034c0.065,0.017,0.129,0.038,0.19,0.068l9.05,4.525l0.01,0.005c0.007,0.003,0.012,0.009,0.018,0.014c0.043,0.034,0.058,0.095,0.028,0.145l-9.095,14.779L31.303,28.248z M47,43.693c0,0.855-0.744,1.176-1.661,0.717l-7.052-3.526L47,26.726V43.693z"></path></symbol><symbol id="instagram-icon" viewBox="0 0 64 64"><path d="M46.91,25.816c-0.073-1.597-0.326-2.687-0.697-3.641c-0.383-0.986-0.896-1.823-1.73-2.657c-0.834-0.834-1.67-1.347-2.657-1.73c-0.954-0.371-2.045-0.624-3.641-0.697C36.585,17.017,36.074,17,32,17s-4.585,0.017-6.184,0.09c-1.597,0.073-2.687,0.326-3.641,0.697c-0.986,0.383-1.823,0.896-2.657,1.73c-0.834,0.834-1.347,1.67-1.73,2.657c-0.371,0.954-0.624,2.045-0.697,3.641C17.017,27.415,17,27.926,17,32c0,4.074,0.017,4.585,0.09,6.184c0.073,1.597,0.326,2.687,0.697,3.641c0.383,0.986,0.896,1.823,1.73,2.657c0.834,0.834,1.67,1.347,2.657,1.73c0.954,0.371,2.045,0.624,3.641,0.697C27.415,46.983,27.926,47,32,47s4.585-0.017,6.184-0.09c1.597-0.073,2.687-0.326,3.641-0.697c0.986-0.383,1.823-0.896,2.657-1.73c0.834-0.834,1.347-1.67,1.73-2.657c0.371-0.954,0.624-2.045,0.697-3.641C46.983,36.585,47,36.074,47,32S46.983,27.415,46.91,25.816z M44.21,38.061c-0.067,1.462-0.311,2.257-0.516,2.785c-0.272,0.7-0.597,1.2-1.122,1.725c-0.525,0.525-1.025,0.85-1.725,1.122c-0.529,0.205-1.323,0.45-2.785,0.516c-1.581,0.072-2.056,0.087-6.061,0.087s-4.48-0.015-6.061-0.087c-1.462-0.067-2.257-0.311-2.785-0.516c-0.7-0.272-1.2-0.597-1.725-1.122c-0.525-0.525-0.85-1.025-1.122-1.725c-0.205-0.529-0.45-1.323-0.516-2.785c-0.072-1.582-0.087-2.056-0.087-6.061s0.015-4.48,0.087-6.061c0.067-1.462,0.311-2.257,0.516-2.785c0.272-0.7,0.597-1.2,1.122-1.725c0.525-0.525,1.025-0.85,1.725-1.122c0.529-0.205,1.323-0.45,2.785-0.516c1.582-0.072,2.056-0.087,6.061-0.087s4.48,0.015,6.061,0.087c1.462,0.067,2.257,0.311,2.785,0.516c0.7,0.272,1.2,0.597,1.725,1.122c0.525,0.525,0.85,1.025,1.122,1.725c0.205,0.529,0.45,1.323,0.516,2.785c0.072,1.582,0.087,2.056,0.087,6.061S44.282,36.48,44.21,38.061z M32,24.297c-4.254,0-7.703,3.449-7.703,7.703c0,4.254,3.449,7.703,7.703,7.703c4.254,0,7.703-3.449,7.703-7.703C39.703,27.746,36.254,24.297,32,24.297z M32,37c-2.761,0-5-2.239-5-5c0-2.761,2.239-5,5-5s5,2.239,5,5C37,34.761,34.761,37,32,37z M40.007,22.193c-0.994,0-1.8,0.806-1.8,1.8c0,0.994,0.806,1.8,1.8,1.8c0.994,0,1.8-0.806,1.8-1.8C41.807,22.999,41.001,22.193,40.007,22.193z"></path></symbol><symbol id="instagram-mask" viewBox="0 0 64 64"><path d="M43.693,23.153c-0.272-0.7-0.597-1.2-1.122-1.725c-0.525-0.525-1.025-0.85-1.725-1.122c-0.529-0.205-1.323-0.45-2.785-0.517c-1.582-0.072-2.056-0.087-6.061-0.087s-4.48,0.015-6.061,0.087c-1.462,0.067-2.257,0.311-2.785,0.517c-0.7,0.272-1.2,0.597-1.725,1.122c-0.525,0.525-0.85,1.025-1.122,1.725c-0.205,0.529-0.45,1.323-0.516,2.785c-0.072,1.582-0.087,2.056-0.087,6.061s0.015,4.48,0.087,6.061c0.067,1.462,0.311,2.257,0.516,2.785c0.272,0.7,0.597,1.2,1.122,1.725s1.025,0.85,1.725,1.122c0.529,0.205,1.323,0.45,2.785,0.516c1.581,0.072,2.056,0.087,6.061,0.087s4.48-0.015,6.061-0.087c1.462-0.067,2.257-0.311,2.785-0.516c0.7-0.272,1.2-0.597,1.725-1.122s0.85-1.025,1.122-1.725c0.205-0.529,0.45-1.323,0.516-2.785c0.072-1.582,0.087-2.056,0.087-6.061s-0.015-4.48-0.087-6.061C44.143,24.476,43.899,23.682,43.693,23.153z M32,39.703c-4.254,0-7.703-3.449-7.703-7.703s3.449-7.703,7.703-7.703s7.703,3.449,7.703,7.703S36.254,39.703,32,39.703z M40.007,25.793c-0.994,0-1.8-0.806-1.8-1.8c0-0.994,0.806-1.8,1.8-1.8c0.994,0,1.8,0.806,1.8,1.8C41.807,24.987,41.001,25.793,40.007,25.793z M0,0v64h64V0H0z M46.91,38.184c-0.073,1.597-0.326,2.687-0.697,3.641c-0.383,0.986-0.896,1.823-1.73,2.657c-0.834,0.834-1.67,1.347-2.657,1.73c-0.954,0.371-2.044,0.624-3.641,0.697C36.585,46.983,36.074,47,32,47s-4.585-0.017-6.184-0.09c-1.597-0.073-2.687-0.326-3.641-0.697c-0.986-0.383-1.823-0.896-2.657-1.73c-0.834-0.834-1.347-1.67-1.73-2.657c-0.371-0.954-0.624-2.044-0.697-3.641C17.017,36.585,17,36.074,17,32c0-4.074,0.017-4.585,0.09-6.185c0.073-1.597,0.326-2.687,0.697-3.641c0.383-0.986,0.896-1.823,1.73-2.657c0.834-0.834,1.67-1.347,2.657-1.73c0.954-0.371,2.045-0.624,3.641-0.697C27.415,17.017,27.926,17,32,17s4.585,0.017,6.184,0.09c1.597,0.073,2.687,0.326,3.641,0.697c0.986,0.383,1.823,0.896,2.657,1.73c0.834,0.834,1.347,1.67,1.73,2.657c0.371,0.954,0.624,2.044,0.697,3.641C46.983,27.415,47,27.926,47,32C47,36.074,46.983,36.585,46.91,38.184z M32,27c-2.761,0-5,2.239-5,5s2.239,5,5,5s5-2.239,5-5S34.761,27,32,27z"></path></symbol></svg>

  

</body></html>